.welcome_container {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome_content > h1 {
    color: #2f2e41;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.welcome_content > h1::after {
    content: "";
    padding: 5px;
    width: 6%;
    background-color: var(--primary-color);
    margin-top: 10px;
    border-radius: 100px;
}

.form_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_header > img {
    width: 50px;
    height: 50px;
}

.form_container > form {
    width: 100%;
}

.form_container > form > * {
    width: 100%;
}

.form-field {
    width: 100%;
    margin: 10px 0px !important;
}
