@import "./variables.css";

.side_bar {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.side_bar_container {
    width: 100%;
    padding: 20px 0px;
}

.side_bar_link {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 0px 100px 100px 0px;
    transition: background 0.2s ease-in-out;
}

.memo_section {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
}

.side_bar_link > * {
    user-select: none;
}

.side_bar_link > span {
    color: white;
    margin-left: 10px;
}

.side_bar_link:hover {
    transition: background 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.54);
}

.view_section {
    padding: 20px;
}
